<!-- jedis 配置 -->
<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig" >
    <property name="maxIdle" value="100" />
    <!-- <property name="maxWaitMillis" value="1000" /> -->
    <property name="MaxWait" value="1000" />
    <property name="testOnBorrow" value="true" />
</bean>
<!-- redis工厂 -->
<bean id="connectionFactory"  class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory" >
    <property name="poolConfig" ref="poolConfig" />
    <property name="port" value="6379" />
    <property name="hostName" value="127.0.0.1" />
    <property name="password" value="" />
    <property name="timeout" value="100000" />
</bean>
<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
    <property name="connectionFactory" ref="connectionFactory"/>
    <property name="keySerializer">
        <bean class="org.springframework.data.redis.serializer.StringRedisSerializer" />
    </property>
    <property name="valueSerializer">
        <bean class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
    </property>
</bean>
